body{
  background-color: #cbf1f5;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: gray;
  border-width: 5px;
  width: 5%;
}
h1{
  color: #71c9ce;
}
h3{
  color: #71c9ce;

}
p{

}
table{
  text-align: center;
  border-color:#71c9ce; 
}
